<div class="home animated fadeIn">
    <div class="header">
            <div class="row">
                    <div class="col-xs-8">
                        <div class="box">
                                <button class="homebtn" (click)="signin()">Sign in</button>
    
                            <button class="homebtn" (click)="signin()">Get Started</button>
                        </div>
                    </div>
                  
                    <div class="col-xs-4 first-xs">
                        <div class="box">
                            <div class="logo">mock.design</div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="content">
            <div class="row middle-xs">
                    <div class="col-xs-6 side1">
                        <div class="box">
                            <h1>Showcase your <br>Great Design using our<br>Free Mockup Design Tool</h1>
                            <button>Get Started Free</button>
                        </div>
                    </div>
                    <div class="col-xs-6 side2">
                           
                        </div>
                </div>
    </div>
        </div>